.transaction-list-item {
  display: flex;
  width: 100%;
  min-height: 80px;
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;

  .transaction-basic-informations {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
    padding: 5px;

    .transaction-date {
      font-size: 14px;
    }

    .transaction-beneficiary {
      font-size: 18px;
    }

    .transaction-address {
      font-size: 13px;
    }
  }

  .transaction-description {
    width: 35%;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 14px;
  }

  .transaction-account-informations {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    &-account {
      font-size: 14px;
      height: 20%;
    }

    &-amount {
      font-size: 20px;
      height: 80%;
      display: flex;
      align-items: center;
    }
  }

  .transaction-remove {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(231, 21, 21);
    font-size: 20px;

    svg {
      cursor: pointer;
    }
  }
}

.removing {
  -webkit-animation: fadeOut 500ms;
  -moz-animation: fadeOut 500ms;
  animation: fadeOut 500ms;
}

@-moz-keyframes fadeOut {
  from {opacity:1;}
  to {opacity:0;}
}

@-webkit-keyframes fadeOut {
  from {opacity:1;}
  to {opacity:0;}
}

@keyframes fadeOut {
  from {opacity:1;}
  to {opacity:0;}
}

@media only screen and (max-width: 800px) {
  .transaction-account-informations-account {
    margin-right: 110px;
    font-size: 12px !important;
  }

  .transaction-description {
    margin-top: 20px;
  }
  
  .transaction-account-informations-amount {
    font-size: 16px !important;
  }
}