.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .page-items-container {
    width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    gap: 5px;

    .upper-items {
      display: flex;
      width: 100%;
      height: 35%;
      gap: 5px;

      .left-box {
        width: 40%;
        height: 100%;

        &-balance {
          height: 60px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: rgb(216, 216, 216);
          border-radius: 10px;

          &-title {
            margin-bottom: 5px;
          }
        }

        &-empty-space {
          height: 50%;
        }

        &-filter {
          height: 70px;
        }
      }

      .right-box {
        width: 60%;
        height: 100%;
      }
    }

    .transactions-list-container {
      display: flex;
      width: 100%;
      height: 65%;

      .transaction-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        box-sizing: border-box;

        &-empty-array {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
        }

        .infinite-scroll {
          display: flex;
          flex-direction: column;
          gap: 5px !important;
          padding: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .upper-items {
    flex-direction: column-reverse;
    height: 50% !important;
  }

  .transactions-list-container {
    height: 50% !important;
  }

  .left-box {
    width: 100% !important;
  }

  .left-box-empty-space {
    display: none;
  }

  .right-box {
    width: 100% !important;
  }

  .page-items-container {
    width: 100% !important;
  }
}

@media only screen and (max-height: 900px) {
  .upper-items {
    flex-direction: column-reverse;
    height: 60% !important;
  }

  .transactions-list-container {
    height: 40% !important;
  }
}

@media only screen and (max-height: 800px) {
  .upper-items {
    flex-direction: column-reverse;
    height: 70% !important;
  }

  .transactions-list-container {
    height: 30% !important;
  }

  .left-box-balance {
    height: 50px !important;
  }
}